@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700);


// -------------------------- GLOBAL

body {
}



// -------------------------- SPLASH





// -------------------------- COMPASS

#compass-container {
  position: absolute;
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

#rotation {
  position: absolute;
  left: 35px;
  top: 150px;
  background-image: url('../images/compass-300.png');
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  -webkit-transition: all 0.7s ease-out;
  -webkit-transform: rotate(0deg);
}

#shadow{
  position: absolute;
  left: 44px;
  top: 351px;
  width: 392px;
  height: 392px;
}

#direction{
  //position: absolute;
  //right: 10px;
  //top: 40px ;
  //width: 392px;
  //height: 37px;
  text-align: right;
  display: inline-block;
  //font-weight: bold;
  color: #FFFFFF;
  //font-family: verdana;
  //font-size: 15pt;
}

#distance {
  //position: absolute;
  //right: 10px;
  //top: 10px ;
  //width: 392px;
  //height: 37px;
  text-align: right;
  display: inline-block;
  //font-weight: bold;
  color: #FFFFFF;
  //font-family: verdana;
  //font-size: 15pt;
}

#angle{
  //position: absolute;
  //right: 10px;
  //top: 70px ;
  //width: 392px;
  //height: 70px;
  text-align: right;
  display: inline-block;
  //font-weight: bold;
  color: #FFFFFF;
  //font-family: verdana;
  //font-size: 15pt;
}

#one, #two {
  background: #ffd632;
  color: #404040;
  font-family: "Roboto";
  background: #f5f3f0 url(asset_path('backgrounds/app-bg.jpg', image));
  color: #404040;
  font-size: 14px;
  font-weight: 300;
}


// -------------------------- RESTYLE

.ui-bar-s {
  background: none;
  color: 
}

#info {
  margin-top: 50px;
  color: #dd3b26;
  text-align: center;
}

#info h1, #info p {
  font-weight: 300 !important;
  margin: 0; padding: );
}

#meta {
  position: absolute;
  top: 20px; right: 20px;
  font-size: 10px;
  font-weight: 300;
}

